/* 公共样式 */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #333;
  -webkit-tap-highlight-color: #0085A1;
}
a {
  color: #333;
}
a:hover {
  color: #0085A1;
  text-decoration: none;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
/* 头部导航 */
.headernav {
  background-color: transparent;
  border: 0;
  border-color: #fff;
  font-weight: 800;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.headernav .navbar-brand {
  color: #fff;
}
.headernav .navbar-right > li > a {
  color: #fff;
  font-size: 12px;
  padding: 20px;
  letter-spacing: 1px;
}
.headernav .navbar-right > li > a:hover,
.headernav .navbar-right > li > a:focus {
  color: #e8e8e8;
}
@media screen and (max-width: 768px) {
  .headernav {
    background-color: #f8f8f8;
  }
  .headernav .navbar-brand {
    color: #777;
  }
  .headernav .navbar-right > li > a {
    color: #777;
  }
  .headernav button {
    color: #777777;
    font-weight: 800;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/* 头部图片 */
.info {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.info .introduction {
  padding: 100px 0 50px;
  color: white;
  text-align: center;
}
.info .introduction h1 {
  margin-top: 0;
  font-size: 50px;
}
.info .introduction hr {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
  font-size: 85%;
}
.info .introduction span {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .info .introduction {
    padding: 150px 0;
  }
}
/* 博客文章 */
.article h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.article h3 {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 18px;
}
.article .art-brief {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.pager {
  margin: 20px 0 0;
}
.pager .prev > a,
.pager .prev > a span {
  float: left;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .prev > a,
.pager .next > a {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager .prev > a:hover,
.pager .prev > a:focus,
.pager .next > a:hover,
.pager .next > a:focus {
  background-color: #0085A1;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .article > a > tit {
    font-size: 24px;
  }
}
/* footer部分 */
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0 ;
  padding: 0;
}
footer p {
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
}
/* 警告框 */
.warning {
  width: 200px;
  height: 80px;
  background-color: #666;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -100px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
}
