/*导航条部分*/
.navbar-admin {
  background-color: #222222;
  border-color: #080808;
}
.navbar-admin .navbar-brand {
  color: #777;
}
.navbar-admin .navbar-brand:hover,
.navbar-admin .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-admin .navbar-text {
  color: #777;
}
.navbar-admin .navbar-nav > li > a {
  color: #777;
}
.navbar-admin .navbar-nav > li > a:hover,
.navbar-admin .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #000000;
}
.navbar-admin .navbar-nav > .active > a,
.navbar-admin .navbar-nav > .active > a:hover,
.navbar-admin .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #080808;
}
.navbar-admin .navbar-nav > .disabled > a,
.navbar-admin .navbar-nav > .disabled > a:hover,
.navbar-admin .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-admin .navbar-toggle {
  border-color: #ddd;
}
.navbar-admin .navbar-toggle:hover,
.navbar-admin .navbar-toggle:focus {
  background-color: #080808;
}
.navbar-admin .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-admin .navbar-collapse,
.navbar-admin .navbar-form {
  border-color: #e7e7e7;
}
.navbar-admin .navbar-nav > .open > a,
.navbar-admin .navbar-nav > .open > a:hover,
.navbar-admin .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #000;
}
@media (max-width: 767px) {
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-admin .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-admin .navbar-link {
  color: #777;
}
.navbar-admin .navbar-link:hover {
  color: #333;
}
.navbar-admin .btn-link {
  color: #777;
}
.navbar-admin .btn-link:hover,
.navbar-admin .btn-link:focus {
  color: #333;
}
.navbar-admin .btn-link[disabled]:hover,
fieldset[disabled] .navbar-admin .btn-link:hover,
.navbar-admin .btn-link[disabled]:focus,
fieldset[disabled] .navbar-admin .btn-link:focus {
  color: #ccc;
}
.navbar-admin {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar .container-fluid {
  padding-right: 0;
}
.navbar {
  border-radius: 0;
}
/*@media screen and (min-width: 768px) {
  float:right !important;
}*/
.top-nav li {
  display: inline-block;
}
.top-nav li a {
  color: #777;
  height: 50px;
  line-height: 30px;
}
.top-nav li a:hover {
  background-color: #080808;
  color: #fff;
}
.top-nav li.open a:focus {
  background-color: #080808;
  color: #fff;
}
.message {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
.message .listBox {
  padding-top: 10px;
  width: 275px;
  height: 128px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.message .listBox:hover {
  background-color: #f5f5f5;
}
.message .listBox a .media {
  display: table;
  width: 100%;
}
.message .listBox a .place {
  float: left!important;
  /* display: table-cell;*/
  padding-right: 10px;
}
.message .listBox a .media-body {
  overflow: hidden;
  display: table-cell;
}
.message .listBox a .media-body p {
  margin-bottom: 0;
}
.message .listBox a .media-body p:nth-of-type(1) {
  font-size: 16px;
  font-weight: 700;
}
.message .listBox a .media-body p:nth-of-type(2) {
  font-size: 12px;
  color: #999;
}
.message .listBox a .media-body p:nth-of-type(3) {
  white-space: normal;
}
.message .listBox a .media-body h3 {
  padding: 0;
}
.warning li {
  height: 46px;
  width: 198px;
}
.warning li span {
  display: block;
  width: 80px;
}
.last {
  border-top: 1px solid #ccc;
  line-height: 46px;
}
.outer {
  border-top: 1px solid #ccc;
}
@media screen and (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    background-color: #222;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    height: 100%;
  }
  .side-nav li {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-top: 0;
  }
}
/*后台管理*/
#page-wrapper {
  margin-top: 50px;
  margin-left: 225px;
  padding: 0 10px;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  #page-wrapper {
    margin-top: 100px;
    margin-left: 0;
  }
}
/*模态框*/
.modal-content {
  width: 600px;
  min-height: 600px;
}
/*
删除确认*/
.makeSure {
  width: 164px;
  height: 88px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -82px;
  z-index: 1000;
  text-align: center;
  padding-top: 10px;
  display: none;
}
.makeSure p {
  color: #fff;
}
.makeSure .sure {
  background-color: #4898d5;
  border: none;
}
.makeSure .back {
  border: none;
}
/*
删除成功*/
.delete {
  width: 164px;
  height: 88px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -82px;
  z-index: 1000;
  text-align: center;
  line-height: 88px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  display: none;
}
